@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
html, body{
margin:0;
padding:0;
font-family: "Raleway", sans-serif;
background:#FFF;
}
ul{
margin:0;
padding:0;
}
ul li{
padding:0;
margin:0;
list-style: none;
font-family: "Raleway", sans-serif;
}
img{
max-width: 100%;
height:auto;
border:0;
outline: 0;
}
button, input, a, select{
outline: 0 !important;
border:0;
text-decoration: none;
font-family: "Raleway", sans-serif;
}
a, span, p, h1, h2, h3, h4, h5, h6, small{
    font-family: "Raleway", sans-serif;
}
a{
text-decoration:none;
font-family: "Raleway", sans-serif;
}
#loading{
position: fixed;
background-color: rgba(255, 255, 255, 0.5);
z-index: 99;
display: none;
align-items: center;
justify-content: center;
top: 0;
left: 0;
width: 100%;
height: 100vh;
}
#loading span{
display: flex;
align-items: center;
justify-content: center;
background:#333;
color: #fff;
font-weight: 700;
font-size: 18px;
width: 170px;
height: 66px;
border-radius:6px;
margin-bottom: 150px;
}
span#inscricao-numero{
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(125, 223, 253, 0.5);
font-weight: 700;
color: #222;
width: 200px;
height: 40px;
border-radius:8px;
margin:20px 0 15px;
padding:0;
font-family: Inter;
}
#barra-brasil{
width: 100%;
background-color: #222;
}
#barra-brasil .conteudo-barra-brasil{
display: flex;
flex-flow:row nowrap;
align-items: center;
justify-content: space-between;
max-width: 94%;
margin:0 auto;
height:40px;
}
.conteudo-escondido {
display: block;
background:transparent;
background-image: none;
background-image: none;
background-image: none;
border:none;
height: 0.1em;
overflow:hidden;
padding:0;
margin:-0.1em 0 0 -0.1em;
width: 1px;
}
#barra-brasil .pic-gov {
background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2266%22%20height%3D%2214%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M9.367%204.374V.247H.37v4.127h8.997z%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M7.602%2011.174a3.693%203.693%200%200%201-2.45.896c-.644%200-1.26-.114-1.848-.343a4.416%204.416%200%200%201-1.54-1.001%204.863%204.863%200%200%201-1.05-1.61C.453%208.481.322%207.758.322%206.946a4.851%204.851%200%200%201%201.47-3.521%205.092%205.092%200%200%201%201.617-1.05%205.205%205.205%200%200%201%202.009-.385c.448%200%20.877.049%201.288.147a4.495%204.495%200%200%201%202.086%201.12c.28.266.509.567.686.903l-2.03%201.554a2.289%202.289%200%200%200-.882-.945%202.362%202.362%200%200%200-1.246-.357%202.034%202.034%200%200%200-1.596.742c-.196.233-.35.511-.462.833a3.198%203.198%200%200%200-.168%201.057c0%20.392.056.747.168%201.064.112.317.268.59.469.819.2.229.441.406.721.532.28.126.593.189.938.189.793%200%201.493-.327%202.1-.98H5.768v-1.96h4.088V12H7.602v-.826zm8.078.91c-.756%200-1.442-.145-2.058-.434a5.092%205.092%200%200%201-2.604-2.758%205.008%205.008%200%200%201-.364-1.876c0-.653.126-1.283.378-1.89a5.018%205.018%200%200%201%201.057-1.603c.453-.462.99-.83%201.61-1.106.62-.275%201.3-.413%202.037-.413.756%200%201.442.145%202.058.434.616.29%201.143.672%201.582%201.148a5.151%205.151%200%200%201%201.015%201.624c.238.607.357%201.227.357%201.862a4.83%204.83%200%200%201-.378%201.883%205.1%205.1%200%200%201-1.05%201.596%205.165%205.165%200%200%201-1.603%201.113c-.62.28-1.3.42-2.037.42zm-2.254-5.04c0%20.336.047.66.14.973.093.313.233.59.42.833.187.243.422.439.707.588.285.15.623.224%201.015.224.392%200%20.733-.077%201.022-.231a2.07%202.07%200%200%200%20.707-.602%202.59%202.59%200%200%200%20.406-.847c.089-.317.133-.64.133-.966%200-.336-.047-.66-.14-.973a2.397%202.397%200%200%200-.427-.826%202.156%202.156%200%200%200-.714-.574%202.182%202.182%200%200%200-1.001-.217c-.392%200-.73.075-1.015.224-.285.15-.52.348-.707.595a2.523%202.523%200%200%200-.413.84%203.498%203.498%200%200%200-.133.959zM23.828%202.06l1.946%206.51%201.918-6.51h2.87L26.908%2012H24.64l-3.696-9.94h2.884zM55.82%209.438c0%20.383-.077.733-.231%201.05a2.444%202.444%200%200%201-.63.812%202.887%202.887%200%200%201-.924.518c-.35.121-.726.182-1.127.182H48.19V2.06h4.942c.345%200%20.658.075.938.224.28.15.518.343.714.581.196.238.348.509.455.812.107.303.161.609.161.917%200%20.495-.124.952-.371%201.372-.247.42-.6.733-1.057.938.57.168%201.02.478%201.351.931.331.453.497.987.497%201.603zm-1.274-.224c0-.224-.04-.441-.119-.651a1.852%201.852%200%200%200-.322-.553%201.525%201.525%200%200%200-.483-.378%201.358%201.358%200%200%200-.616-.14H49.45v3.416h3.458c.233%200%20.448-.047.644-.14.196-.093.369-.217.518-.371a1.68%201.68%200%200%200%20.35-.539c.084-.205.126-.42.126-.644zM49.45%203.152V6.47h3.164c.224%200%20.43-.044.616-.133.187-.089.348-.208.483-.357.135-.15.243-.324.322-.525.08-.2.119-.413.119-.637a1.91%201.91%200%200%200-.112-.658%201.736%201.736%200%200%200-.301-.532%201.37%201.37%200%200%200-1.043-.476H49.45zM57.584%2012V2.06h4.256c.439%200%20.842.091%201.211.273.369.182.686.425.952.728.266.303.474.644.623%201.022.15.378.224.763.224%201.155%200%20.345-.049.679-.147%201.001a3.098%203.098%200%200%201-.42.875%202.812%202.812%200%200%201-.658.672%202.566%202.566%200%200%201-.861.406L65.172%2012h-1.428l-2.268-3.57h-2.632V12h-1.26zm1.26-4.69h3.01c.261%200%20.497-.056.707-.168.21-.112.39-.264.539-.455.15-.191.266-.413.35-.665.084-.252.126-.513.126-.784%200-.28-.049-.544-.147-.791a2.322%202.322%200%200%200-.392-.658%201.774%201.774%200%200%200-.574-.448%201.557%201.557%200%200%200-.693-.161h-2.926v4.13z%22%20fill%3D%22%23FFF%22%2F%3E%3Cpath%20fill%3D%22%23FFD400%22%20d%3D%22M35.145%200L46%206.875%2035.145%2013.75z%22%2F%3E%3Cpath%20d%3D%22M36.233%2011.177a4.293%204.293%200%200%200%204.3-4.3%204.293%204.293%200%200%200-4.3-4.302%204.293%204.293%200%200%200-4.301%204.301%204.293%204.293%200%200%200%204.3%204.301%22%20fill%3D%22%231675D3%22%2F%3E%3Cg%20transform%3D%22matrix(-1%200%200%201%2041%204.75)%22%3E%3Cmask%20id%3D%22b%22%20fill%3D%22%23fff%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%2F%3E%3C%2Fmask%3E%3Cpath%20d%3D%22M8.76.538C4.918-.46%202.19%201.288.533%203c-.267.248-.276.953.5%201.375%203.554-3.313%206.797-2.9%208.035-2.185.397%200%20.494-1.409-.308-1.65%22%20fill%3D%22%23FFF%22%20mask%3D%22url(%23b)%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
background-repeat: no-repeat;
display: block;
width: 66px;
height: 14px;
min-width: 66px;
margin-right: 10px;
line-height: 0;
font-size: 0;
color: transparent;
}
#barra-brasil a {
text-decoration:none;
color: #fff;
font-weight: bold;
font-size: 0.7em;
font-family: 'Raleway',Arial,Helvetica,sans-serif;
text-transform: uppercase;
transition-property: all;
transition-duration: 0.1s;
transition-timing-function: ease-in-out;
display: flex;
align-items: center;
height: 20px;
}
#barra-brasil .conteudo-barra-brasil nav ul {
display: flex;
flex-flow:row nowrap;
justify-content: flex-start;
align-items: center;
width: auto;
max-width: none;
margin: 0;
}
#barra-brasil .conteudo-barra-brasil nav ul li.list-item {
flex-shrink: 0;
}
#barra-brasil .conteudo-barra-brasil nav ul li.espacador {
height: 20px;
width: 1px;
border-right:1px solid rgba(151,151,151,0.3);
margin:0 7px 0 20px;
}
#barra-brasil .conteudo-barra-brasil nav a.link-externo-barra::before {
content: "";
display: inline-block;
width: 11px;
height: 10px;
margin-right: 6px;
background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2211%22%20height%3D%2210%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M10.174.169l-.003%204.002L6.173.173z%22%2F%3E%3Cpath%20d%3D%22M4%204.51L7.91.6l1.768%201.768-3.91%203.91zM0%200h3.5v2.5H0z%22%2F%3E%3Cpath%20d%3D%22M0%202h2.5v5H0zM7.5%206H10v3H7.5z%22%2F%3E%3Cpath%20d%3D%22M0%207h10v2.5H0z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
opacity: 0;
transition-property: all;
transition-duration: 0.1s;
transition-timing-function: ease-in-out;
}
#barra-brasil .conteudo-barra-brasil nav a.link-discreto,
#barra-brasil .conteudo-barra-brasil nav a.link-discreto-fixo,
#barra-brasil .conteudo-barra-brasil nav:hover li:not(:hover)>a {
opacity:0.3
}
#barra-brasil .conteudo-barra-brasil nav a:hover {
opacity:1
}
#barra-brasil .conteudo-barra-brasil nav a.link-externo-barra:hover::before {
opacity:1
}
#barra-brasil .conteudo-barra-brasil nav a.link-interno-barra {
margin-left:13px
}
#barra-brasil .conteudo-barra-brasil nav a.link-baixo-barra::after {
content:"";
display:inline-block;
width:13px;
height:13px;
margin-left:6px;
background-image:url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%229%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M1.9.033L8.4%206.531%206.63%208.3.133%201.801z%22%2F%3E%3Cpath%20d%3D%22M11.395%200L5.03%206.364l1.767%201.768%206.364-6.364z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
background-repeat:no-repeat;
background-position:center;
background-size:8px 6px;
background-color:#3b3b3b;
border-radius:50%
}
#barra-brasil .conteudo-barra-brasil nav a.link-baixo-barra.link-cima-barra::after {
background-image:url("data:image/svg+xml,%3Csvg%20width%3D%2214%22%20height%3D%229%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M1.9%208.967L8.4%202.469%206.63.7.133%207.199z%22%2F%3E%3Cpath%20d%3D%22M11.395%209L5.03%202.636%206.798.868l6.364%206.364z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}
#barra-brasil .conteudo-barra-brasil a.botao-seta-direita {
display:none;
width:9px;
min-width:9px;
margin-left:10px;
height:13px;
background-image:url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%2213%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M.533%2011.232L7.03%204.734%208.8%206.502%202.301%2013z%22%2F%3E%3Cpath%20d%3D%22M.5%201.738l6.364%206.364%201.768-1.768L2.268-.03z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
line-height:0;
font-size:0;
color:transparent
}
#barra-brasil .orgaos-governo-barra {
width:100%;
border-bottom:0.5px solid rgba(255,255,255,0.3);
max-height:0;
overflow-y:hidden;
transition-property:all;
transition-duration:0.5s;
transition-timing-function:ease-in-out
}
#barra-brasil .orgaos-governo-barra.mostra-orgaos {
max-height:calc(90vh - 40px)
}
#barra-brasil .orgaos-governo-barra>div {
width:100%;
max-width:1150px;
margin:0 auto
}
#barra-brasil .orgaos-governo-barra ul {
margin-top:25px;
width:calc(100% + 25px);
display:flex;
flex-flow:row wrap
}
#barra-brasil .orgaos-governo-barra ul li {
width:168px;
text-align:left;
margin:0 25px 25px 0
}
#barra-brasil .orgaos-governo-barra ul li a {
font-size:0.75em;
text-transform:none;
font-weight:bold
}
#barra-brasil .orgaos-governo-barra ul:hover li:not(:hover) a {
opacity:0.3
}
#barra-brasil .orgaos-governo-barra ul li a:hover {
font-weight:bold
}
.topo-site{
background-color: rgb(11, 77, 155);
padding:15px 0 65px;
}
.topo-site .logo{
text-align: center;
}
#card-inscricao{
max-width: 1170px;
margin:-50px auto 0;
height: calc(100vh - 130px);
}
#card-inscricao .content-card{
display: flex;
align-items: stretch;
height: 100%;
max-height: 800px;
overflow:hidden;
border-radius:5px;
background-color: #fff;
box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
}
#card-inscricao .content-card .barra-side{
width: 270px;
background-color: rgb(8, 103, 184);
}
#card-inscricao .content-card .body-card{
display: flex;
flex-direction: column;
flex:1 1 0%;
align-self: stretch;
min-height: 0px;
}
#card-inscricao .content-card .barra-side h2{
text-transform: uppercase;
color: #fff;
font-size: 14px;
font-weight: 800;
margin:0 0 15px;
}
#card-inscricao .content-card .barra-side ul li a{
display: flex;
align-items: center;
margin:0 0 25px;
color: #fff;
font-size: 15px;
line-height: 1;
font-weight: 500;
}
#card-inscricao .content-card .barra-side ul li a i{
margin-right: 10px;
line-height: 1;
margin-top: -2px;
font-size: 16px;
}
#card-inscricao .content-card .barra-side ul{
margin-top:25px;
}
#card-inscricao .content-card .content-side {
height: 100%;
position: relative;
padding:60px 24px 24px;
}
#card-inscricao .content-card .content-side .contador .cards-dias{
gap:12px;
}
#card-inscricao .content-card .content-side .contador .card-div .data{
display: flex;
align-items: center;
justify-content: center;
font-size: 40px;
background-color: #fff;
border-radius:6px;
width: 60px;
height: 60px;
line-height: 1;
padding-bottom: 3px;
color: rgb(8, 103, 184);
box-shadow: 0 5px 5px rgba(13, 13, 13, 0.2);
margin-bottom: 5px;
font-family: "Inter", sans-serif;
font-weight: 200;
}
#card-inscricao .content-card .content-side .contador .card-div strong{
text-align: center;
display: block;
color: #fff;
text-transform: uppercase;
font-size: 13px;
font-weight: 700;
}
#card-inscricao .content-card .content-side .contador{
margin-top:70px;
}
.css-17l7yx8 > span {
display: flex;
flex-direction: row;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
justify-content: center;
margin:0px 10px;
}
.css-17l7yx8 {
color: rgb(8, 103, 184);
font-weight: 400;
font-size: 12px;
line-height: 1.3;
letter-spacing: -1px;
display: flex;
-moz-box-pack: center;
justify-content: center;
margin:5px;
width: 100%;
}
.css-17l7yx8 > span > svg {
margin:0px 5px;
}
.css-1qh4aj3 {
flex-direction: row;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
align-self: stretch;
transition:0.2s ease-in-out;
box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px;
margin:24px 12px;
border-radius:500px;
display: flex;
}
.css-1qh4aj3.css-1c97vgy{
box-shadow: rgba(25, 95, 190, .7) 0px 0px 15px;
}
.css-10nvitp {
display: flex;
width: 100%;
align-self: stretch;
flex-direction: row;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
}
.css-b7azs1 {
position: relative;
display: flex;
align-self: stretch;
flex-direction: column;
width: 100%;
flex:1 1 0%;
}
.css-15nda4v:disabled {
background:transparent;
}
.css-15nda4v {
flex:1 1 0%;
outline:none;
border:medium;
border-radius:500px;
padding:0px 30px;
font-size: 16px;
color: rgb(74, 74, 74);
font-family: "Inter", sans-serif;
}
.css-15nda4v:read-only{
pointer-events: none;
cursor:none;
}
.jss1{
border-radius:50%;
cursor: pointer;
}
.jss1.jss7 {
color: rgba(0, 0, 0, 0.26);
box-shadow: none;
background-color: rgba(0, 0, 0, 0.12);
font-weight: 500;
line-height: 1;
border-radius:50%;
text-transform: uppercase;
padding:0;
font-size: 17px;
display: flex;
align-items: center;
justify-content: center;
min-width: 0;
box-sizing: border-box;
min-height: 36px;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.jss3 {
color: #fff;
background-color: #0867B8;
}
.jss3:hover{
background-color: rgb(8, 84, 151);
}
.css-10nvitp > button {
margin:10px;
}
.jss9 {
width: 40px;
height: 40px;
}
.css-wbgyl1 {
min-height: 0px;
overflow:hidden auto;
align-self: stretch;
display: flex;
flex:1 1 0%;
position: relative;
}
.css-1gic6yg {
flex-flow:column;
padding:0px 8px;
display: flex;
-moz-box-pack: start;
justify-content: flex-start;
-moz-box-align: center;
align-items: center;
min-height: 0px;
flex:1 1 0%;
}
.msg-bot {
opacity: 1;
display: flex;
transform-origin: 0% 0% 0px;
transform: none;
flex-direction: column;
flex-shrink: 0;
margin:0px 50px 0px 0px;
align-self: flex-start;
}
.body-msg {
display: flex;
flex:0 0 auto;
margin:10px 0px;
width: 100%;
align-self: flex-start;
flex-direction: row;
-moz-box-align: center;
align-items: center;
-moz-box-pack: start;
justify-content: flex-start;
}
.avatar-msg {
position: relative;
transition:0.2s ease-in-out;
border-radius:50%;
background:rgb(237, 237, 237);
width: 78px;
height: 78px;
min-width: 78px;
min-height: 78px;
border:4px solid rgb(214, 214, 214);
}
.avatar-msg.avatar-felicidade > div {
border-radius:50%;
background-image: url("../images/felicidade.6b79e84d.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.text-msg {
transition:0.2s ease-in-out;
display: flex;
flex:1 1 0%;
position: relative;
align-self: unset;
margin-left: 20px;
border-left:12px solid rgb(214, 214, 214);
background:rgb(237, 237, 237);
color: rgb(66, 66, 66);
border-radius:5px;
min-width: 140px;
}
.text-msg > svg {
transition:color 0.2s ease-in-out;
color: rgb(214, 214, 214);
position: absolute;
top: 50%;
transform: translateY(-50%);
left: -32px;
font-size: 40px;
}
.text-msg > div {
padding:6px 16px;
overflow:hidden;
font-size: 14px;
font-family: "Inter", sans-serif;
}
.text-msg > div p{
margin:8px 0;
font-family: "Inter", sans-serif;
font-family: "Inter", sans-serif;
}
.botoes-msg {
display: flex;
flex-flow:wrap;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
justify-content: center;
}
.btn-msg {
cursor: pointer;
margin:0px 0px 0px 20px;
vertical-align: middle;
display: inline-block;
background-color: rgb(17, 79, 186);
text-decoration:none;
color: rgb(255, 255, 255);
min-width: 127px;
text-align: center;
padding:9px 16px;
font-size: 15px;
border-radius:50px;
font-family: "Inter", sans-serif;
}
.btn-msg:hover{
background-color: rgb(8, 84, 151);
}
.botoes-msg > button {
margin: 16px 16px 16px;
}
.btn-msg b {
font-weight: 800;
margin-left: 5px;
font-size: 15px;
}
.msg-user {
opacity: 1;
display: flex;
transform-origin: 0% 0% 0px;
transform: none;
flex-direction: column;
flex-shrink: 0;
margin:0px 0px 0px 50px;
align-self: flex-end;
}
.msg-user .body-msg{
transition:0.2s ease-in-out;
display: flex;
flex:0 0 auto;
position: relative;
align-self: flex-end;
margin-right: 20px;
border-right:12px solid rgb(214, 214, 214);
background:rgb(237, 237, 237);
color: rgb(66, 66, 66);
border-radius:5px;
min-width: 140px;
}
.msg-user .body-msg > span {
padding:3px 16px;
overflow:hidden;
font-size: 14px;
}
.msg-user .body-msg > span p{
font-family: "Inter", sans-serif;
font-size: 14px;
margin:8px 0;
}
.msg-user .body-msg > svg {
transition:color 0.2s ease-in-out;
color: rgb(214, 214, 214);
position: absolute;
top: 50%;
transform: translateY(-50%);
right: -32px;
font-size: 40px;
}
.avatar-msg.avatar-normal > div {
border-radius:50%;
background-image: url("../images/normal.ef09b19d.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.avatar-msg.avatar-confusa > div {
border-radius:50%;
background-image: url("../images/confusa.58d3b81c.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.buttons-recaptcha {
display: flex;
flex-direction: row;
margin:15px;
justify-content: center;
}
.buttons-recaptcha .btn-recaptcha{
padding:0;
font-size: 15px;
min-width: 0;
box-sizing: border-box;
min-height: 36px;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 6px 10px 0px rgba(0,0,0,0.14),0px 1px 18px 0px rgba(0,0,0,0.12);
font-weight: 500;
line-height: 1;
border-radius:50%;
text-transform: uppercase;
display: flex;
align-items: center;
justify-content: center;
color: #fff;
background-color: #0867B8;
width: 40px;
height: 40px;
margin: 0px 10px;
}
.buttons-recaptcha .btn-recaptcha:hover{
background-color: rgb(8, 84, 151);
}
.css-176w0hu {
display: flex;
flex-flow:wrap;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
}
.css-176w0hu span.erro{
width: 100%;
text-align: center;
font-size: 12px;
color: rgb(233, 30, 99);
font-weight: 500;
}
.css-x59uo5 {
display: flex;
flex-direction: column;
transition:0.2s ease-in-out;
margin:5px 2px;
border:1px solid lightgray;
padding:5px;
user-select: none;
cursor: pointer;
}
.css-x59uo5 > img {
transition:0.2s ease-in-out;
padding:5px;
background: lightgray;
}
.css-1ottlnu {
display: flex;
flex-direction: column;
transition:0.2s ease-in-out;
margin:5px 2px;
border:1px dashed rgb(0, 116, 217);
border-radius:5px;
padding:5px;
user-select: none;
}
.css-1ottlnu > img {
transition:0.2s ease-in-out;
padding:5px;
}
.css-1ottlnu > img {
background:rgb(153, 189, 221);
}
button:disabled{
color: rgba(0, 0, 0, 0.26) !important;
box-shadow: none !important;
background-color: rgba(0, 0, 0, 0.12) !important;
pointer-events: none;
}
button.btn-iniciar-inscricao{
color: #fff;
background-color: #0867B8;
width: 100%;
font-weight: 500;
border-radius:4px;
text-transform: uppercase;
font-family: "Inter", sans-serif;
font-size: 14px;
height: 40px;
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
margin:5px 0 5px;
transition:all .2s linear;
}
button.btn-iniciar-inscricao:hover{
background-color: rgb(8, 84, 151);
}
.slide-in {
animation: slideInLeft 0.5s ease-out forwards;
opacity: 0;
transform: translateX(-50px);
}

@keyframes slideInLeft {
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
.slide-in-right {
animation: slideInRight 0.5s ease-out forwards;
opacity: 0;
transform: translateX(50px);
}
@keyframes slideInRight {
    to {
      opacity: 1;
      transform: translateX(0);
    }
}
#card-inscricao .content-card .content-side.css-15jw0c5{
display: flex;
flex-direction: column;
padding:20px 0px 20px 10px;
align-self: stretch;
overflow:hidden auto;
-moz-box-pack: justify;
justify-content: space-between;
height: 100%;
}
.css-vzoa3y {
display: flex;
flex-direction: column;
flex-shrink: 0;
}
.css-1t95esl {
user-select: none;
display: flex;
position: relative;
flex-direction: row;
-moz-box-pack: start;
justify-content: flex-start;
-moz-box-align: center;
align-items: center;
font-size: 16px;
margin-left: 8px;
background:white;
box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
color: rgb(8, 103, 184);
transition:color 0.2s ease-in-out;
}
.css-ft3fs5 {
position: relative;
transition:0.2s ease-in-out;
border-radius:50%;
background:rgb(237, 237, 237);
width: 24px;
height: 24px;
min-width: 24px;
min-height: 24px;
border:2px solid rgb(214, 214, 214);
}
.css-ft3fs5 > div {
border-radius:50%;
background-image: url("../images/normal.ef09b19d.png");
background-size: cover;
background-position:center top;
width: 20px;
height: 20px;
min-width: 20px;
min-height: 20px;
}
.css-1ckwuji {
display: flex;
flex-direction: row;
-moz-box-align: center;
align-items: center;
position: relative;
margin-left: 12px;
align-self: stretch;
width: 100%;
padding-top: 2px;
}
.css-1ckwuji > span {
display: flex;
flex-direction: column;
align-self: stretch;
white-space:nowrap;
font-size: 15px;
font-weight: 500;
}
.css-6nj1yj {
user-select: none;
display: flex;
position: relative;
flex-direction: row;
-moz-box-pack: start;
justify-content: flex-start;
-moz-box-align: center;
align-items: center;
font-size: 16px;
color: white;
transition:color 0.2s ease-in-out;
cursor: pointer;
}
.css-6nj1yj > svg {
transition:color 0.2s ease-in-out -0.2s;
font-size: 24px;
}
.css-1ckwuji > span {
display: flex;
flex-direction: column;
align-self: stretch;
white-space:nowrap;
font-size: 15px;
font-weight: 500;
}
.css-gvoj8n {
display: flex;
flex-direction: row;
align-self: stretch;
-moz-box-pack: justify;
justify-content: space-between;
-moz-box-align: center;
align-items: center;
background:rgba(0, 0, 0, 0.02);
padding:4px 12px;
}
.css-16r3k2g {
color: rgba(0, 0, 0, 0.25);
}
.css-16r3k2g > h3 {
font-weight: 400;
font-size: 13px;
line-height: 20px;
margin:0 0 -6px;
font-family: "Inter", sans-serif;
}
.css-16r3k2g > span {
font-size: 11px;
font-family: "Inter", sans-serif;
}
.css-17l7yx8 {
display: flex;
-moz-box-pack: center;
justify-content: center;
color: rgb(8, 103, 184);
margin:5px;
font-family: "Inter", sans-serif;
max-width: 150px;
}
.css-17l7yx8 > span {
display: flex;
flex-direction: row;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
justify-content: center;
margin:0px 10px;
font-family: "Inter", sans-serif;
}
.css-17l7yx8 > span > svg {
margin:0px 5px;
}
.css-2d3tz0 {
min-height: 0px;
display: flex;
flex:1 1 auto;
flex-direction: column;
overflow-y: auto;
height: 100px;
align-self: stretch;
}
.css-dnz5hk {
position: relative;
min-height: 0px;
display: flex;
width: 100%;
flex:1 1 0%;
align-self: center;
flex-direction: column;
-moz-box-align: center;
align-items: center;
color: rgb(74, 74, 74);
-moz-box-pack: start;
justify-content: flex-start;
}
.css-12jrde7 {
display: flex;
flex-direction: column;
-moz-box-align: center;
place-items:center;
-moz-box-pack: start;
place-content:center flex-start;
min-height: 0px;
flex:1 1 0%;
width: 100%;
overflow: hidden;
}
.css-12jrde7 > form {
display: flex;
flex-direction: column;
-moz-box-pack: start;
justify-content: flex-start;
-moz-box-align: center;
align-items: center;
min-height: 0px;
flex:1 1 0%;
width: 100%;
}
.css-4fyxpi {
display: flex;
flex:1 0 0%;
margin:10px 0px;
width: 100%;
align-self: center;
flex-direction: row;
-moz-box-align: center;
align-items: center;
-moz-box-pack: start;
justify-content: flex-start;
}
.css-y0fpqq {
position: relative;
transition:0.2s ease-in-out;
border-radius:50%;
background:rgb(237, 237, 237);
width: 78px;
height: 78px;
min-width: 78px;
min-height: 78px;
border:4px solid rgb(214, 214, 214);
}
.css-y0fpqq > div {
border-radius:50%;
background-image: url("../images/normal_piscando.7c2f5b52.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.css-3o2vej {
transition:0.2s ease-in-out;
display: flex;
flex:1 1 0%;
position: relative;
align-self: unset;
margin-left: 20px;
border-left:12px solid rgb(214, 214, 214);
background:rgb(237, 237, 237);
color: rgb(66, 66, 66);
border-radius:5px;
min-width: 140px;
}
.css-3o2vej > svg {
transition:color 0.2s ease-in-out;
color: rgb(214, 214, 214);
position: absolute;
top: 50%;
transform: translateY(-50%);
left: -32px;
font-size: 40px;
}
.css-3o2vej > span {
padding:5px 16px;
overflow:hidden;
font-size: 14px;
}
.css-3o2vej > span p{
font-family: "Inter", sans-serif;
font-size: 14px;
margin:10px 0;
line-height: 1.3;
}
.css-1u39n0h {
width: 97px;
}
.css-1ibqy1r {
transition:0.2s ease-in-out;
display: flex;
flex:1 1 0%;
position: relative;
align-self: unset;
background:rgb(237, 237, 237);
color: rgb(66, 66, 66);
border-radius:5px;
min-width: 140px;
}
.css-1ibqy1r > span {
padding:5px 16px;
overflow:hidden;
font-size: 14px;
}
.css-1ibqy1r > span p{
font-family: "Inter", sans-serif;
font-size: 14px;
margin:10px 0;
line-height: 1.3;
}
.css-1ww02rk > div {
margin:0px auto;
}
.css-d4bxoq {
display: flex;
flex-direction: column;
flex:1 1 0%;
align-self: stretch;
min-height: 0px;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
justify-content: center;
max-width: 840px;
padding:0px 12px;
height: 100%;
}
.css-yq7480 {
position: relative;
min-height: 0px;
align-self: stretch;
overflow:hidden auto;
margin:10px 0px;
}
.css-3b5k8a {
display: flex;
-moz-box-align: center;
align-items: center;
-moz-box-pack: center;
justify-content: center;
overflow:hidden;
flex-shrink: 0;
}
.css-5aalu8 {
margin:12px;
position: relative;
}
.jss454 {
color: inherit;
border:0;
margin:0;
cursor: pointer;
display: inline-flex;
outline:none;
padding:0;
position: relative;
align-items: center;
user-select: none;
border-radius:0;
vertical-align: middle;
justify-content: center;
-moz-appearance:none;
text-decoration:none;
background-color: transparent;
-webkit-appearance:none;
-webkit-tap-highlight-color: transparent;
}
.jss502 {
color: rgba(0, 0, 0, 0.87);
padding:6px 16px;
font-size: 0.875rem;
min-width: 64px;
box-sizing: border-box;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
line-height: 1.75;
font-family: "Inter", sans-serif;
font-weight: 500;
border-radius:4px;
letter-spacing: 0.02857em;
text-transform: uppercase;
}
.jss504 {
padding:6px 8px;
}
.jss506 {
color: #0867B8;
}
.jss503 {
width: 100%;
display: inherit;
align-items: inherit;
justify-content: inherit;
font-family: "Inter", sans-serif;
font-weight: 500;
}
.css-5aalu8 svg {
margin:0px 8px;
}
.jss502:hover {
text-decoration: none;
background-color: rgba(8, 103, 184, 0.08);
}
.jss514 {
color: #fff;
background-color: #0867B8;
}
.css-11fs7lx {
display: flex;
flex-direction: column;
}
.css-11fs7lx > span {
display: flex;
flex-direction: row;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
font-family: "Inter", sans-serif;
font-weight: 500;
}
.css-11fs7lx > span > span {
margin-right: 6px;
font-family: "Inter", sans-serif;
font-weight: 500;
}
.jss516.jss517:hover{
color:#fff;
background-color: rgb(8, 84, 151);
}
.css-y0fpqq.avatar-felicidade > div {
border-radius:50%;
background-image: url("../images/felicidade.6b79e84d.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.css-y0fpqq.avatar-normal > div {
border-radius:50%;
background-image: url("../images/normal.ef09b19d.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.css-y0fpqq.avatar-felicidade > div {
border-radius:50%;
background-image: url("../images/confusa.58d3b81c.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.item-menu svg{
font-size: 24px;
width: 24px;
}
.item-menu .css-8c6prb{
display: flex;
position: absolute;
bottom: 50%;
transform: translateY(50%);
right: 10px;
place-self:center;
color: rgb(251, 192, 45);
}
.item-menu .css-8c6prb svg{
font-size: 16px;
}
.form-input {
position: relative;
margin:0 0 10px;
width: 100%;
}
.form-input select, .form-input input {
width: 100%;
padding: 15px 3px 6px 3px;
border: none;
border-bottom: 2px solid #ccc;
outline: none;
font-size: 16px;
transition: border-color 0.3s;
font-family: "Inter", sans-serif;
appearance: none;
outline: none;
background-color: #fff;
color: rgb(66, 66, 66);
}
.form-input input:focus, .form-input select:focus, .select.active select{
border-bottom-color: #007bff;
}
.select.prench{
border-color:#ccc;
}
.select.prench.active {
border-bottom-color: #007bff;
}
.form-input label {
position: absolute;
top: 14px;
left: 3px;
color: #555;
font-size: 16px;
pointer-events: none;
transition: 0.2s ease all;
font-family: "Inter", sans-serif;
}
.form-input select:focus + label,
.form-input input:focus + label,
.form-input .select.active + label{
top: -6px;
left: 0;
font-size: 12px;
color: #007bff;
background: white;
padding: 0 4px;
}
.form-input select:not(:placeholder-shown) + label,
.form-input input:not(:placeholder-shown) + label,
.form-input .select.prench + label{
top: -6px;
left: 0;
font-size: 12px;
background: white;
color: #555;
padding: 0 4px;
}
.form-input .select.prench.active + label{
color: #007bff;
}
span.error{
font-size: 13px;
color:#f44336;
font-family: "Inter", sans-serif;
display: none;
}
.form-input.error label{
color:#f44336;
}
.form-input.error input{
border-color: #f44336;
}
.form-input .checkbox label{
position: relative;
font-size: 16px !important;
color: rgb(74, 74, 74) !important;
left: 0 !important;
top: 0 !important;
padding-left: 25px !important;
cursor: pointer !important;
margin:10px 0;
pointer-events: auto !important;
}
.form-input .checkbox label:before{
content:"";
width:18px;
height: 18px;
border-radius: 3px;
background-color: #fff;
position: absolute;
left:0;
top:50%;
transform:translatey(-50%);
border:2px solid #555;
}
.form-input .checkbox label:after{
content:"";
width:14px;
height: 14px;
border-radius: 0px;
background-color: #007bff;
position: absolute;
left:2px;
top:50%;
transform:translatey(-50%);
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(255,255,255,1)'%3E%3Cpath d='M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z'%3E%3C/path%3E%3C/svg%3E");
background-size: 16px;
background-repeat: no-repeat;
background-position: center;
opacity: 0;
visibility: hidden;
}
.form-input .checkbox input:checked + label:after{
opacity: 1;
visibility: visible;
}
.inputs{
min-width: 400px;
padding:15px 5px 5px;
}
.form-input select{
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='rgba(85,85,85,1)'%3E%3Cpath d='M12 16L6 10H18L12 16Z'%3E%3C/path%3E%3C/svg%3E");
background-size: 20px;
background-position: center right 3px;
background-repeat: no-repeat;
}
.s-hidden {
visibility:hidden;
padding-right:10px;
}
.select {
cursor: pointer;
display: inline-block;
position: relative;
appearance: none;
width: 100%;
padding: 0;
margin-bottom: 0px;
border: 0;
transition: box-shadow 150ms ease 0s, border-color 150ms ease 0s, padding 150ms ease 0s !important;
background-color: transparent !important;
}
.styledSelect {
position: absolute;
top: 50%;
right: 0;
bottom: 0;
left: 0;
background-color: transparent;
padding: 0;
transform: translateY(-50%);
height: 100%;
opacity: 0;
color:#555;
z-index: 5;
}
.styledSelect:active, .styledSelect.active {
background-color:transparent;
}
.options {
display:none;
position:absolute;
top:100%;
width: 100%;
left: 0;
z-index:999;
padding:0 0;
list-style:none;
border:0;
background-color: #f9f9f9;
border-radius:0;
-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
max-height: 220px;
overflow-y: auto;
color:#555;
font-size:15px;
margin: 0 !important;
}
.options li {
padding:0 6px;
margin:0 0;
padding:0 10px;
height:34px;
font-size:14px;
display:flex;
align-items:center;
color:#555;
font-family: "Inter", sans-serif;
}
.options li:hover{
background:rgb(8, 103, 184);
color:#fff;
}
.options li:nth-child(2){
display: none !important;
}
.inputs-selects{
min-height: 350px;
}
.options li.search-wrapper{
height: auto;
padding:5px;
background-color: transparent;
display: none !important;
}
.options li.search-wrapper input{
padding:5px 10px;
height: 36px;
font-size: 14px;
border:1px solid #ccc;
}
.cidadeNasc .options li.search-wrapper, .ufNasc .options li.search-wrapper{
display: block !important;
}
.css-3sh40q {
display: flex;
flex-direction: column;
align-self: stretch;
flex-shrink: 0;
}
.css-1ih1zar {
display: flex;
align-self: center;
flex-direction: row;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
margin:5px 0px;
font-size: 14px;
width: 100%;
}
.css-1meb55q {
position: relative;
transition:0.2s ease-in-out;
border-radius:50%;
background:rgb(144, 202, 249);
width: 78px;
height: 78px;
min-width: 78px;
min-height: 78px;
border:4px solid rgb(21, 101, 192);
}
.css-1meb55q > div {
border-radius:50%;
background-image: url("../images/surpresa.5ddefe6b.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.css-1nalen3 {
transition:0.2s ease-in-out;
display: flex;
flex:1 1 0%;
position: relative;
align-self: unset;
margin-left: 20px;
border-left:12px solid rgb(21, 101, 192);
background:rgb(144, 202, 249);
color: rgb(66, 66, 66);
border-radius:5px;
min-width: 140px;
}
.css-1nalen3 > svg {
transition:color 0.2s ease-in-out;
color: rgb(21, 101, 192);
position: absolute;
top: 50%;
transform: translateY(-50%);
left: -32px;
font-size: 40px;
}
.css-1nalen3 > span {
padding:5px 16px;
overflow:hidden;
font-size: 14px;
}
.css-1nalen3 > span p{
font-family: "Inter", sans-serif;
font-size: 14px;
margin:10px 0;
line-height: 1.3;
}
.css-1nalen3 > span p a{
font-weight: 600;
}
.css-12x087r {
position: relative;
transition:0.2s ease-in-out;
border-radius:50%;
background:rgb(229, 57, 53);
width: 78px;
height: 78px;
min-width: 78px;
min-height: 78px;
border:4px solid rgb(183, 28, 28);
}
.css-12x087r > div {
border-radius:50%;
background-image: url("../images/raiva.0f949b09.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.css-bfhbxk {
transition:0.2s ease-in-out;
display: flex;
flex:1 1 0%;
position: relative;
align-self: unset;
margin-left: 20px;
border-left:12px solid rgb(183, 28, 28);
background:rgb(229, 57, 53);
color: rgb(250, 250, 250);
border-radius:5px;
min-width: 140px;
}
.css-bfhbxk > svg {
transition:color 0.2s ease-in-out;
color: rgb(183, 28, 28);
position: absolute;
top: 50%;
transform: translateY(-50%);
left: -32px;
font-size: 40px;
}
.css-bfhbxk > span {
padding:5px 16px;
overflow:hidden;
font-size: 14px;
}
.css-bfhbxk > span p{
font-family: "Inter", sans-serif;
font-size: 14px;
margin:10px 0;
line-height: 1.3;
}
.css-vn3vmt {
display: flex;
position: absolute;
bottom: 50%;
transform: translateY(50%);
right: 10px;
place-self:center;
color: rgb(139, 195, 74);
}
.css-vn3vmt > svg {
font-size: 14px;
}
.radios .radio label{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
border:1px solid #ccc;
border-radius:10px;
width: 140px;
height: 100px;
cursor: pointer;
font-size: 15px;
font-family: "Inter", sans-serif;
color: #777;
}
.radios{
display: flex;
align-items: center;
gap:15px;
}
.radios .radio label span{
display: flex;
align-items: center;
justify-content: center;
border:2px solid #555;
border-radius:50%;
line-height: 1;
padding:2px;
font-size: 22px;
width: 28px;
height: 28px;
color: #76ac38;
margin-top: 10px;
}
.radios .radio label span i{
opacity: 0;
visibility: hidden;
transition: all .2s linear;
margin-left: 1px;
}
.radios .radio input:checked + label span i{
opacity: 1;
visibility: visible;
}
.radios-list .radio label{
font-size: 14px;
flex-shrink: 0;
display: flex;
margin:10px;
width: 90%;
flex-direction: row;
-moz-box-align: center;
align-items: center;
border-radius:5px;
background:rgb(237, 237, 237);
border-left:10px solid silver;
transition:all .2s linear;
color: rgb(74, 74, 74);
position: relative;
width: 100%;
cursor: pointer;
font-family: "Inter", sans-serif;
}
.radios-list .radio label span{
position: relative;
width: 20px;
height: 20px;
display: flex;
align-items: center;
justify-content: center;
border-radius:50%;
border:2px solid #777;
margin:12px;
transition:all .2s linear;
}
.radios-list .radio label span i{
width: 10px;
height: 10px;
background-color: #0867B8;
border-radius:50%;
transition:all .2s linear;
opacity: 0;
visibility: hidden;
}
.radios-list .radio input:checked + label{
border-color:#0867B8;
}
.radios-list .radio input:checked + label span{
border-color:#0867B8;
}
.radios-list .radio input:checked + label span i{
opacity: 1;
visibility: visible;
}
.css-14rko3d {
display: flex;
align-self: center;
flex-direction: row;
-moz-box-pack: center;
justify-content: center;
-moz-box-align: center;
align-items: center;
margin:5px 0px;
font-size: 14px;
width: 100%;
}
.css-hx52a5 {
position: relative;
transition:0.2s ease-in-out;
border-radius:50%;
background:rgb(253, 216, 53);
width: 78px;
height: 78px;
min-width: 78px;
min-height: 78px;
border:4px solid rgb(249, 168, 37);
}
.css-hx52a5 > div {
border-radius:50%;
background-image: url("../images/triste_erro.52ac4ce8.png");
background-size: cover;
background-position:center top;
width: 70px;
height: 70px;
min-width: 70px;
min-height: 70px;
}
.css-128kxe7 {
transition:0.2s ease-in-out;
display: flex;
flex:1 1 0%;
position: relative;
align-self: unset;
margin-left: 20px;
border-left:12px solid rgb(249, 168, 37);
background:rgb(253, 216, 53);
color: rgb(66, 66, 66);
border-radius:5px;
min-width: 140px;
}
.css-128kxe7 > svg {
transition:color 0.2s ease-in-out;
color: rgb(249, 168, 37);
position: absolute;
top: 50%;
transform: translateY(-50%);
left: -32px;
font-size: 40px;
}
.css-128kxe7 > span {
padding:5px 16px;
overflow:hidden;
font-size: 14px;
}
.css-128kxe7 > span p{
font-family: "Inter", sans-serif;
font-size: 14px;
margin:10px 0;
line-height: 1.3;
}
.pixArea{
padding-top:15px;
}
.pixArea .options-qr {
display: flex;
align-items: center;
justify-content: center;
gap: 16px;
margin-bottom: 20px;
}
.pixArea .options-qr #qrcode{
width: 200px;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
padding:10px;
background-color: #fff;
}
.pixArea .options-qr-instructions {
display: flex;
justify-content: center;
flex-direction: column;
gap: 16px;
width:calc(100% - 220px);
}
.pixArea .options-qr-instructions p{
margin:0;
font-weight: 600;
color: rgb(66, 66, 66);
font-size: 14px;
text-align: left;
font-family: "Inter", sans-serif;
}
.pixArea .areaCopiar{
display: flex;
padding:4px 10px;
margin:20px 0;
border-radius:8px;
background-color: #ecf4ff;
overflow:hidden;
align-items: center;
border:1px solid #c3d3e8;
justify-content: space-between;
}
.pixArea .areaCopiar p{
max-width: 95%;
font-weight: 600;
color: #193767;
flex:1;
white-space:nowrap;
overflow:hidden;
text-overflow: ellipsis;
font-size: 14px;
margin:0;
width: 100%;
font-family: "Inter", sans-serif;
}
.pixArea .areaCopiar button{
background-color: #0867B8;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
border-radius:8px;
color: #fff;
transition:all .2s linear;
}
.pixArea .areaCopiar button:hover{
background-color: rgb(8, 84, 151);
}
button#btn-copiar-pix{
width: 100%;
height: 48px;
border-radius:8px;
background-color: #26bd3e;
color: #fff;
font-weight: 700;
margin:0 auto 20px;
max-width: 100%;
position: relative;
left: 50%;
transform: translatex(-50%);
transition:all .2s linear;
font-family: "Inter", sans-serif;
}
.pixArea button#btn-copiar-pix:hover{
background-color:#0d7019;
}
.pixArea button#btn-copiar-pix i{
margin-left: 10px;
}
button.btn-pagar{
color: #fff;
background-color: #0867B8;
width: 210px;
font-weight: 600;
border-radius:4px;
text-transform: uppercase;
font-family: "Inter", sans-serif;
font-size: 15px;
height: 40px;
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),0px 2px 2px 0px rgba(0,0,0,0.14),0px 3px 1px -2px rgba(0,0,0,0.12);
margin:5px 0 5px;
transition:all .2s linear;
padding-bottom: 4px;
}
button.btn-pagar:hover{
background-color: rgb(8, 84, 151);
}
button.btn-pagar i{
margin-left:10px;
font-size: 18px;
}


@media only screen and (min-width: 768px) {
    .css-1qh4aj3 {
        margin:28px 30px;
        align-self: stretch;
    }
    .css-1gic6yg {
        margin:30px auto;
        padding:0px 30px;
    }
    .css-1t95esl {
        padding:8px;
        margin-left: 8px;
        background:white;
        box-shadow: rgba(0, 0, 0, 0.25) -4px 0px 4px;
    }
    .css-6nj1yj {
        padding:8px;
    }
    .css-gvoj8n {
        padding:12px 20px;
    }
    .css-1ih1zar {
        width: 80%;
    }
    .css-14rko3d {
        width: 80%;
    }
}

@media(max-width:992px){
    .navbar-brand {
        padding:0 5px;   
    }
    .menu-mobile{
        font-size: 22px;
        color: #fff;
    }
    .topo-site .logo {
        text-align: center;
        max-width: 180px;
        margin:0 auto;
    }
    #card-inscricao .content-card .barra-side{
        display: none;
    }
    #card-inscricao .content-card{
        box-shadow: none;
    }
    .topo-site {
        background-color: rgb(11, 77, 155);
        padding:15px 0 15px;
        position: relative;
    }
    .topo-site .btn-sair{
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translatey(-50%);
    }
    #card-inscricao {
        max-width: 100%;
        margin:0;
        height: calc(100vh - 95px);
    }
    .avatar-msg, .css-y0fpqq, .css-1meb55q, .css-12x087r, .css-hx52a5{
        width: 58px;
        height: 58px;
        min-width: 58px;
        min-height: 58px;
    }
    .avatar-msg.avatar-felicidade > div, .avatar-msg.avatar-confusa > div, .avatar-msg.avatar-normal > div, .css-y0fpqq > div, .css-y0fpqq.avatar-normal > div, .css-1meb55q > div, .css-12x087r > div, .css-hx52a5 > div{
        width:50px;
        height: 50px;
        min-width: 50px;
        min-height: 50px;
    }
    .css-1nalen3 > span p, .css-bfhbxk > span p, .css-128kxe7 > span p{
        font-size: 13px;
    }
    .msg-bot{
        margin:0 20px 0 0;
    }
    .botoes-msg > button {
        margin:5px 0 16px;
    }
    .css-17l7yx8 {
        margin:0 auto 10px;
    }
    .css-gvoj8n .css-17l7yx8 {
        margin:0;
    }
    .btn-msg {
        font-size: 13px;
        line-height: 1.2;
        width: 100%;
    }
    .css-1u39n0h {
        width: 77px;
    }
    .css-17m656a {
        position: relative;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        background:rgb(8, 103, 184);
        -moz-box-align: center;
        align-items: center;
        flex:unset;
    }
    .css-15jw0c5 {
        display: flex;
        flex-direction: column;
        padding:20px 0px 20px 10px;
        align-self: stretch;
        overflow:hidden auto;
        -moz-box-pack: justify;
        justify-content: space-between;
        height: 100%;
    }
    .css-15jw0c5 {
        flex-direction: row;
        padding:0px;
        overflow:auto hidden;
        width: 100vw;
    }
    .css-vzoa3y {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
    }
    .css-1t95esl {
        flex-direction: column;
        -moz-box-pack: center;
        justify-content: center;
        width: 56px;
        height: 52px;
    }
    .css-6nj1yj {
        flex-direction: column;
        -moz-box-pack: center;
        justify-content: center;
        width: 56px;
        height: 52px;
    }
    .inputs {
        min-width: 300px;
        padding:15px 5px 5px;
    }
    .css-8c6prb, .css-vn3vmt {
        top: -2px;
        bottom: unset !important;
        right: -2px !important;
    }
    .item-menu .css-8c6prb svg, .item-menu .css-vn3vmt svg {
        font-size: 13px;
    }
    .inputs-selects {
        min-height: 430px;
    }
    .radios-list .radio label{
        margin:10px 0;
    }
    .radios-list .radio label > div{
        max-width:calc(100% - 44px);
        line-height: 1.2;
    }
    .pixArea .options-qr{
        flex-wrap:wrap;
    }
    .pixArea .options-qr-instructions{
        width:100%;
    }
    .pixArea .options-qr-instructions p {
        font-size: 13px;
        text-align: center;
    }
    .pixArea .areaCopiar p{
        font-size: 13px;
    }
    .pixArea .areaCopiar {
        margin:20px auto;
        max-width: 260px;
    }


}